html {
    touch-action: none;
    position: relative;
    min-width: 1080px;
    min-height: 1920px;
    height: 100%;
}

#idm-dialog {
    width: 1080px;
    height: 1920px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#idm-dialog-content {
    width: 1080px;
    height: 1920px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

.idm-iframe {
    width: 1080px;
    height: 1920px;
    overflow: hidden;
    background-color: #fff;
    margin: 0;
    padding: 0;
    pointer-events: auto;
    touch-action: auto;
}
